{% extends 'base.html' %} {% block content %}

<h1>Boat Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ boat.name }}</span>
    <p>model: {{ boat.model }}</p>
    <p>Description: {{ boat.description }}</p>
    <p>production: {{ boat.production }}</p>
  </div>
  <div class="card-section">
    <a href="{% url 'boats_update' boat.id %}">Edit</a>
    <a href="{% url 'boats_delete' boat.id %}"> Delete</a>

  </div>
  <div>
    {% load static %}
    <img
      src="{% static boat.image|cut:'main_app/static/' %}"
      width="100px"
      height="100px"
    />
  </div>
</div>
<div>
  <form method="POST" action="{% url 'add_servicing' boat.id %}">
    {% csrf_token %}
    {{ Servicing_form.as_p }}
    <input type="submit" class="btn" value="Add Service">
  </form>
  <br>
  {% if boat.serves_for_today %}
    <div class="card-panel teal-text center-align">{{boat.name}} has been serves all checks for today</div>
  {% else %}
    <div class="card-panel red-text center-align">{{boat.name}} might be damage</div>
  {% endif %}
  <table class="striped">
</div>
<table class="stripped">
  <thead>
    <th> Date </th>
    <th> Check </th>
  </thead>
  <tbody>
    {% for servicing in boat.servicing_set.all %}
    <tr>
      <td> {{ servicing.date }}</td>
      <td> {{ servicing.get_checks_display }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div>
</div>

<hr>

  <div class="row">
    <div class="col s6">
      <h3>{{ boat.name }}</h3>

      {% if boat.flags.count %}
        {% for flag in boat.flags.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                A 
                <span style="color: {{ flag.color }}"> {{ flag.color }} </span> {{ flag.name }}
              </span>
            </div>
            <div class="card-action">


            <form action="{% url 'unassoc_flag' boat.id flag.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Remove</button>
            </form>
          </div>
          </div>
        {% endfor %}
      {% else %}
          <h5>No Flags :(</h5>
      {% endif %}

    </div>

    <div class="col s6">
      <h3>Available Flags</h3>

      {% if flags.count %}
        {% for flag in flags.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="color: {{ flag.color }}">{{ flag.color }}</span> {{ flag.name }}
            </span>
          </div>
          
          <div class="card-action">
            <form action="{% url 'assoc_flag' boat.id flag.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
        {% endfor %}
      {% else %}
        <h5>{{ boat.name }} already has all flags available.</h5>
      {% endif %}
    </div>
  </div>

<script>
  var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  let selectEl = document.getElementById('id_checks');
  M.FormSelect.init(selectEl);


</script>

{% endblock %}
